
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div class="navbar navbar-inverse" role="navigation">
      
      <div class="container">
        <div class="navbar-text pull-left">
          <p>© 2015 Moviehub.</p>
        </div>
        <div class ="navbar-text pull-right">
          <a href="https://www.facebook.com/luka.harabajsa"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://twitter.com/lukaharii"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="https://instagram.com/lukaharabajsa"><i class="fa fa-instagram fa-2x"></i></a>

       
          </div>
        </div>

     </div>

   